.contact-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.contact {
    display: flex;
    gap: 100px;
}

.contact div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact div i{
   font-size: 80px;
}

.contact div h1{
    font-size: 25px;
 }