*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #f39c12;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #E6CE91;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px;

}

.login-container div h1{
   font-size: 50px;
   margin-bottom: 50px;
}

.login-container div input{
   height: 30px;
   width: 300px;
   padding: 3px;
 }

 .login-container div input:last-of-type{
    background-color: black;
    color: white;
    margin-top: 20px;
  }

  .login-container div a{
    text-decoration: none;
  }
 
  body {
    background-color: #F29727;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  transition: visibility 0s ease-in-out 300ms, opacity 300ms;
}

.snackbar.hide {
  visibility: visible;
  opacity: 0;
  transition-delay: 0s;
}